.post_container.tolerable-hidden .post {
	background-color: transparent;
	border: 1px solid white;
	color: white;
	cursor: pointer;
	padding: 5px 0;
	transition: background-color 0.25s, padding 0.25s;
}

.post_container.tolerable-hidden .post:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.post_container:not(.tolerable-hidden) .tolerable-msg {
	display: block;
}

.post_container.tolerable-hidden .post .post_avatar,
.post_container.tolerable-hidden .post .post_wrapper,
.post_container:not(.tolerable-hidden) .tolerable-msg {
	display: none;
}

.post_container.tolerable-hidden .post .tolerable-msg {
	font-size: 12px;
	padding: 0 20px;
}
